body{
    height: 100vh;
    width: 100vw;

    .bg{
        background-image: url("https://burst.shopifycdn.com/photos/developer-coding-in-php.jpg?width=1000&format=pjpg&exif=0&iptc=0");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;

        #text{
            background-color: rgba(0, 0, 0, 0.533);
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.container{
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column-reverse;

    .toptxt{
        padding: 10%;

        .DevCourse{
            font-size: 10vw;
            font-size: 10vh;
            padding: 25px;
        }

        .btn-purple{
            background-color: rgb(153, 72, 178);
            margin: 25px;
            color: white;
            padding: 15px;
            border-radius: 25px;
        }
    }

    .threedivs{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .bottom{
            margin-bottom: 15%;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .align{
                display: flex;
                flex-direction: column;
                padding-right: 100px;
                border-right: 3px solid white;

                h4{
                    margin-left: 5px;
                }

                .top{
                    display: flex;
                    flex-direction: row;
                }
            }
    }

    .fix{
        margin: 3px;
    }
    }
}